.navbarcolor {
    background: linear-gradient(90deg, rgba(143,242,208,1) 0%, rgba(175,249,123,1) 100%);
}

.btncolor
{
    background: linear-gradient(90deg, rgba(143,242,208,1) 0%, rgba(175,249,123,1) 100%);
    color: black;
    border: black;
}

body
{
    background: radial-gradient(circle, rgba(243,243,243,1) 0%, rgba(255,255,255,1) 100%);
}